/************
variables
************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Teko:wght@300;500&display=swap");
:root {
  --our-cyan: #297a88;
  --our-bg-color: #E4E5E7;
}

/************
General Styles
************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: ltr;
  text-align: left;
  font-family: 'Teko';
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-family: 'Teko';
  font-weight: 500;
}

p,
a,
span,
li,
button {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
}

a:hover {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/************
General Classes
************/
button {
  border: unset;
  outline: unset;
  background: unset;
}

button:focus {
  outline: unset;
}

.our-btn {
  padding: .375em 1.8em;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.our-btn-inline {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.our-btn-inline:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: var(--our-cyan);
}

.our-btn-inline-2 {
  background-color: #fff;
  border: 2px solid #fff;
  color: var(--our-cyan);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.our-btn-inline-2:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.card {
  border: 0;
  background: none;
  border-radius: unset;
}

.card-footer {
  background-color: unset;
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

.scrolledDown {
  top: 0% !important;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  z-index: 5;
}

.scrolledDown-mobile {
  top: 0% !important;
  background-color: white !important;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  z-index: 5;
}

/* Removing outline of bootstrap 4 form inputs */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0px transparent inset, 0 0 0px transparent;
          box-shadow: 0 0 0px transparent inset, 0 0 0px transparent;
  outline: 0 none;
}

#desktop_header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 20px 0;
  min-height: 10vh;
}

#desktop_header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#desktop_header .nav-bar .logo {
  background: transparent;
  padding: 0 6px;
}

#desktop_header .nav-bar .logo img {
  width: 180px;
  max-width: 100%;
  height: auto;
}

#desktop_header .nav-bar .menu {
  background: transparent;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#desktop_header .nav-bar .menu li.main-li {
  display: inline-block;
  position: relative;
  padding: 6px;
}

#desktop_header .nav-bar .menu li.main-li i {
  font-size: 10px;
}

#desktop_header .nav-bar .menu li.main-li > a {
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#desktop_header .nav-bar .menu li.main-li > a:hover {
  color: #ccc;
}

#desktop_header .nav-bar .menu li.main-li:not(:last-child) {
  margin-right: 1vw;
}

#desktop_header .nav-bar .menu ul.inner-ul {
  position: absolute;
  background: #fff;
  padding: 1rem;
  width: 200px;
  height: auto;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#desktop_header .nav-bar .menu ul.inner-ul li.inner-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

#desktop_header .nav-bar .menu ul.inner-ul li.inner-li a {
  color: #000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#desktop_header .nav-bar .menu ul.inner-ul li.inner-li a:hover {
  color: #505050;
}

#desktop_header .nav-bar .menu ul.inner-ul li.inner-li a:not(:last-child) {
  margin-bottom: 0.7rem;
}

#desktop_header .nav-bar .menu li.main-li:hover > ul.inner-ul {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

#desktop_header .nav-bar .call-us {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  padding: 4px 30px;
  margin-left: 1.5rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#desktop_header .nav-bar .call-us:hover {
  background: #fff;
  color: #000;
}

#hero {
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  position: relative;
}

#hero #carouselExampleFade {
  height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#hero .carousel-item {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 100%;
}

#hero .carousel-item .img-container {
  position: relative;
  display: block;
  height: 100%;
}

#hero .carousel-item .img-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#hero .carousel-item .img-container img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 100%;
}

#hero .carousel-inner {
  height: 100%;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#hero .carousel-inner img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#hero .carousel-inner .slider-content {
  position: absolute;
  left: 15%;
  z-index: 10;
}

#hero .carousel-inner .card {
  color: #fff;
}

#hero .carousel-inner .play-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

#hero .carousel-inner .play-video .play-video-btn {
  background-color: var(--our-cyan);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

#hero .carousel-inner .play-video .play-video-btn > i {
  color: #fff;
  position: absolute;
  left: 52%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#hero .carousel-inner .play-video span {
  margin-left: 0.7rem;
}

#hero .choose-slider {
  position: absolute;
  right: 15%;
  z-index: 10;
}

#hero .choose-slider div {
  margin: 0 0 4vh 0;
  text-align: right;
}

#hero .choose-slider span {
  color: #fff;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#hero .choose-slider span::before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 40px;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#hero .choose-slider span.title-active {
  font-weight: bold;
}

#hero .choose-slider span.title-active::before {
  opacity: 1;
}

#hero .scroll-down {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
  padding: 8px;
}

#hero .scroll-down a {
  color: #fff;
  padding-bottom: 10px;
  position: relative;
  display: block;
  -webkit-animation: float 2s linear infinite;
          animation: float 2s linear infinite;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#hero .scroll-down::after {
  content: '';
  position: absolute;
  background: #fff;
  width: 2px;
  height: 50px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#contact {
  background-color: var(--our-cyan);
  padding: 60px 0;
  position: relative;
}

#contact .card {
  color: #fff;
}

#contact .card .card-title-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin-bottom: 3rem;
}

#contact .card .card-title-container::before {
  content: '';
  position: absolute;
  bottom: 140%;
  left: 0;
  width: 12%;
  height: 5px;
  background-color: #fff;
  z-index: 1;
}

#contact .card .card-title0 h3 {
  font-size: 45px;
  line-height: 20px;
}

#contact .card .card-title0 h3.light {
  font-weight: 300;
}

#contact .card .card-title0 h3.bold {
  font-weight: 500;
}

#contact .card .card-text {
  font-weight: 300;
}

#contact .card .card-buttons {
  margin-top: 3rem;
}

#contact .card-buttons .our-btn:not(:last-child) {
  margin-right: 1.25rem;
}

#contact .card-buttons .our-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#blog {
  background: var(--our-bg-color);
  padding: 60px 0;
}

#blog .row {
  background: #fff;
  margin: 3rem 0;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

#blog .card .see-more {
  border: 1px solid var(--our-cyan);
  color: var(--our-cyan);
  background: transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#blog .card .see-more:hover {
  background: var(--our-cyan);
  color: #fff;
}

#blog .card .card-title-container {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#blog .card .card-title-container::before {
  content: '';
  position: absolute;
  background: var(--our-cyan);
  height: 100%;
  width: 8px;
  right: 98%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

#blog .card .card-title-container .card-title {
  padding-left: 1.5rem;
}

#works {
  background: var(--our-cyan);
  padding: 60px 0;
}

#works .section-title {
  color: #fff;
}

#works #works_slider .img-container {
  position: relative;
}

#works #works_slider .img-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#works #works_slider .img-container img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#works #works_slider .work-info {
  position: absolute;
  bottom: 25px;
  left: 10px;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#works #works_slider .work-info a {
  color: #fff;
  cursor: pointer;
}

#works #works_slider .img-container:hover::before {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#works #works_slider .img-container:hover .work-info {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#works #works_slider .owl-dots {
  margin-top: 3rem;
}

#works #works_slider .owl-dots .owl-dot span {
  width: 45px;
  height: 7px;
  border-radius: unset;
  background: rgba(255, 255, 255, 0.5);
}

#works #works_slider .owl-dots .owl-dot.active span, #works #works_slider .owl-dots .owl-dot:hover span {
  background: white;
}

#footer {
  background: var(--our-cyan);
  padding: 60px 0;
  border-top: 1px solid #fff;
}

#footer .card {
  color: #fff;
}

#footer .footer-card-title {
  font-size: 36px;
  margin-bottom: .5rem;
}

#footer .footer-card-text {
  color: rgba(255, 255, 255, 0.6);
}

#footer .footer-card-links a {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#footer .footer-card-links a:hover {
  color: #fff;
}

#footer .footer-card-links a:not(:last-child) {
  margin-bottom: 0.5rem;
}

#footer .social-medias {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .social-medias a {
  background: #fff;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .social-medias a i {
  color: var(--our-cyan);
  font-size: 22px;
}

#footer .social-medias a:not(:last-child) {
  margin-bottom: unset;
  margin-right: 0.5rem;
}
/*# sourceMappingURL=main.css.map */